.ayat-card {
  padding: 1rem;
  margin: 15px 0;
  border-radius: 8px;
  flex-wrap: wrap;
  position: relative;
  cursor: pointer;

  .ayat-card-rightside {
    max-width: 80%;
  }
  .ayat-card__button {
    width: inherit;
    height: inherit;
    border-radius: 5px;
    padding: 10px 12px;
    margin-top: 15px;
    box-shadow: var(--box-shadow);
  }
  .description {
    margin-top: 20px;
    line-height: 20px;
  }
  &,
  &:no-button {
    background-color: var(--box-color);
  }
  button:nth-child(2) {
    margin-top: 10px;
  }
  .ayat-card__name {
    display: block;
  }
}
