<div class="ayat-card" *ngIf="verseDetail">
  <div class="ayat-card-leftside flex justify-between">
    <div class="ayat-card__icons">
      <button class="main__button">{{ verseDetail.verseKey }}</button>
      <button class="main__button">
        <fa-icon [icon]="faMessage"></fa-icon>
      </button>
    </div>
    <div class="ayat-card-rightside">
      <p class="ayat__arabic arabic-font">
        {{ verseDetail.arabic }}
      </p>
    </div>
  </div>
  <div class="ayat-card__footer flex align-center">
    <span class="ayat-card__name ml-1">
      {{ verseDetail.translation }}
    </span>
  </div>
  <span
    class="ayat-card__name ml-1 description"
    *ngIf="verseDetail.description"
  >
    {{ verseDetail.description }}
  </span>
</div>
