.header {
  position: fixed;
  top: -100px;
  width: 100%;
  display: block;
  z-index: 1001;
  background: #f5f5f5a5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  backdrop-filter: blur(10px) saturate(100%) brightness(100%);
  transition: 0.8s ease;
  &.active-nav {
    top: 0;
  }

  .sub-header {
    background-color: transparent;
    margin-top: 10px;

    .sub-header__surah-name {
      cursor: pointer;
    }
  }
  @media screen and (max-width: 768px) {
    .header__leftside {
      h4 {
        display: none;
      }
    }
  }
}

.navigation {
  top: 0;
  padding: 8px 0;
  position: fixed;
  z-index: 100;
  padding-left: 28px;
  padding: 10px 0px 0 10px;
  height: 100vh;
  width: 300px;
  left: -300%;
  border-right: 1px solid var(--dark-green);
  z-index: 1007;
  transition: 0.3s ease;
  &.active {
    left: 0;
  }
  .navigation_content {
    height: 100%;
    padding: 30px 10px 35px 0;
    overflow: auto;
    .main__sitemap {
      border-radius: 8px;
      background-color: #ffffff10;
    }
    &-btn {
      width: 100%;
      border-radius: 8px;
      background-color: #ffffff20;
      margin-bottom: 5px;

      &.active {
        border-radius: 8px 8px 0 0;
      }
    }
    &::-webkit-scrollbar {
      width: 5px;
      background-color: var(--box-color);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: var(--dark-green);
    }
  }
}
