.search {
  &-box {
    border-radius: 45px;
    box-shadow: var(--button-shadow);
    form {
      height: 35px;
      width: 350px;
      input {
        width: 90%;
        border: none;
        outline: none;
        font-size: 14px;
        background-color: transparent;
        color: var(--text-color);
        &::placeholder {
          color: var(--text-color);
          opacity: 0.5;
        }
      }

      // .search_button {
      //   width: 34px;
      //   height: 34px;
      //   border-radius: 17px;
      //   background-color: none;
      //   color: var(--text-color);
        
      // }
    }
  }

  @media screen and (max-width: 768px) {
    .container {
      width: 100%;
      margin: 0;
    }
  }
}
