<div class="search flex align-center">
  <div class="container d-flex justify-center align-center">
    <div class="search-box">
      <form
        (submit)="searchTerm($event)"
        class="flex align-center"
        [formGroup]="searchFbGroup"
      >
        <input
          formControlName="searchTerm"
          type="text"
          class="pl-1"
          [placeholder]="'user.banner.title' | translate"
        />

        <button type="submit" disabled class="main__button search_button">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </form>
    </div>
  </div>
</div>
