<div class="search flex align-center">
  <div class="container d-flex justify-center align-center">
    <div class="search-box pt-05 blur-image pb-05 pl-1 pr-1 box">
      <form
        (submit)="searchTerm($event)"
        class="flex align-center"
        [formGroup]="searchFbGroup"
      >
        <input
          formControlName="searchTerm"
          type="text"
          class="pl-1"
          [placeholder]="'user.banner.title' | translate"
        />

        <button type="submit" class="main__button blur-image ml-1">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </form>
    </div>
  </div>
</div>
