.recently {
  position: relative;
  margin-bottom: 15px;
  .container {
    padding: 0;
  }
  &__action {
    width: 100%;
    border-radius: 8px;
  }
  &__list {
    flex-direction: column;
    position: absolute;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.3s ease;
    &.active {
      position: relative;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    &-item {
      margin-top: 5px;
      cursor: pointer;
      padding: 5px 15px;
      position: relative;
      border-radius: 8px;
      background-color: var(--box-color);
      transition: 0.4s ease;

      &:hover {
        background-color: var(--dark-green);
        color: var(--text-color);
      }
    }
  }
}
