<div class="recently" *ngIf="recentlySurah !== ''">
  <button
    class="recently__action main__button"
    (click)="isRecently = !isRecently"
  >
    {{ "user.main.recently" | translate }}
  </button>
  <div class="container recently__container">
    <div class="recently__list {{ isRecently && 'active' }}">
      <div class="recently__list-item" *ngFor="let surah of recentlySurah">
        <app-recently-surah-card [surah]="surah"></app-recently-surah-card>
      </div>
    </div>
  </div>
</div>
