<div
  class="container single-surah__main-container {{
    userState.singleSurahModal ? 'open-settings' : ''
  }}"
>
  <div
    class="single-surah__header flex align-center justify-center"
    *ngIf="userState.verse"
  >
    <button
      (click)="isTranslation = false"
      class="single-surah__header-btn {{ !isTranslation ? 'active' : '' }}"
    >
      Translation
    </button>
    <button
      (click)="isTranslation = true"
      class="single-surah__header-btn {{ !isTranslation ? '' : 'active' }}"
    >
      Reading
    </button>
  </div>

  <div
    class="single-surah-sub__info flex align-center justify-center"
    *ngIf="userState.verse"
  >
    {{ userState.singleSurah?.surah?.name }}
  </div>
  <div
    class="surah-actions flex align-center justify-between"
    *ngIf="userState.verse"
  >
    <div class="surah-actions__leftside">
      <p class="surah-actions__leftside-subinfo">Translation By</p>
      <h4 class="surah-author__name">
        Dr. {{ userState.selectedAuthor?.fullName }} the Clear Quran
      </h4>
    </div>
    <div class="surah-actions__rightside">
      <button class="main__button" data-before-content="Play Audio">
        <fa-icon [icon]="faPlayCircle"></fa-icon>
      </button>
    </div>
  </div>

  <div class="single-surah__lists" *ngIf="!isTranslation">
    <div class="card" *ngIf="!userState.verse">
      <div class="header">
        <div class="header-leftside">
          <div class="img"></div>
          <div class="img"></div>
        </div>
        <div class="details">
          <span class="about"></span>
        </div>
      </div>
      <div class="description">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </div>
    </div>
    <section
      *ngFor="let surah of userState.verse; let i = index"
      id="verse-{{ i + 1 }}"
    >
      <app-ayat-card [verseDetail]="surah"></app-ayat-card>
    </section>
  </div>
</div>

<div class="surah__read" *ngIf="isTranslation">
  <div class="surah__read-container">
    <p class="arabic-font">
      {{ userState.verse && userState.verse[verseIndex].arabic }}
    </p>
  </div>
  <div class="flex align-center justify-between surah__read-btn">
    <button (click)="verseControl('prev')">Prev</button>
    <button (click)="verseControl('next')">Next</button>
  </div>
</div>
