.single-surah__main-container {
  margin-top: 200px;

  &.open-settings {
    margin-left: 100px;
  }
}

.single-surah__header {
  background-color: var(--box-color);
  max-width: 300px;
  border-radius: 45px;
  margin: 20px auto;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px inset;
  &-btn {
    padding: 10px 20px;
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 1rem;
    border-radius: 45px;
    cursor: pointer;
    &:nth-child(2) {
      margin-left: 10px;
    }

    &.active {
      color: var(--silver);
      background-color: var(--dark-green);
    }
  }
}

.single-surah-sub__info {
  font-size: 80px;
  margin-top: 20px;
  flex-direction: column;
}

.surah-actions {
  max-width: 800px;
  margin: 10px auto;

  &__leftside {
    &-subinfo {
      opacity: 0.8;
      font-size: 14px;
    }
  }

  &__rightside {
    .action__button {
      position: relative;
      &::after {
        position: absolute;
        content: attr(data-before-content);
        bottom: -100%;
        width: 100px;
        padding: 10px;
        opacity: 0;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }
}

.single-surah__lists {
  max-width: 800px;
  margin: 30px auto;

  .card {
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
  }
  .card .header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .header .img {
    height: 40px;
    width: 40px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    &:nth-child(2) {
      margin-top: 10px;
    }
  }
  .header .details {
    margin-left: 20px;
  }
  .details span {
    display: block;
    background: #d9d9d9;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  .details .name {
    height: 15px;
    width: 100px;
  }
  .details .about {
    height: 13px;
    width: 150px;
    margin-top: 10px;
  }
  .card .description {
    margin: 25px 0;
  }
  .description .line {
    background: #d9d9d9;
    border-radius: 10px;
    height: 13px;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
  }
  .description .line-1 {
    width: calc(100% - 15%);
  }
  .description .line-3 {
    width: calc(100% - 40%);
  }

  .header .img::before,
  .details span::before,
  .description .line::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to right,
      #d9d9d9 0%,
      rgba(0, 0, 0, 0.07) 20%,
      #d9d9d9 40%,
      #d9d9d9 100%
    );
    background-repeat: no-repeat;
    background-size: 450px 400px;
    animation: shimmer 1s linear infinite;
  }
  .header .img::before {
    background-size: 650px 600px;
  }
  .details span::before {
    animation-delay: 0.2s;
  }
  @keyframes shimmer {
    0% {
      background-position: -450px 0;
    }
    100% {
      background-position: 450px 0;
    }
  }
}

.surah__read {
  max-width: 800px;
  margin: 20px auto;
  text-align: right;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  &,
  * {
    background-color: var(--box-color);
  }

  p {
    font-size: 1.2rem;
    line-height: 38px;
  }

  &-btn {
    margin-top: 20px;
    button {
      color: var(--text-color);
      cursor: pointer;
      border-radius: 5px;
      padding: 10px 12px;
      box-shadow: var(--box-shadow);
      border: 1px solid var(--background-color);
    }
  }
}
