.single-surah__main-container {
  margin-top: 200px;

  &.open-settings {
    margin-left: 100px;
  }
}

.single-surah__header {
  background-color: var(--box-color);
  max-width: 300px;
  border-radius: 45px;
  margin: 20px auto;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px inset;
  &-btn {
    padding: 10px 20px;
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 1rem;
    border-radius: 45px;
    cursor: pointer;
    &:nth-child(2) {
      margin-left: 10px;
    }

    &.active {
      color: var(--silver);
      background-color: var(--dark-green);
    }
  }
}

.single-surah-sub__info {
  margin-top: 20px;
  font-size: 80px;
}

.surah-actions {
  max-width: 800px;
  margin: 10px auto;

  &__leftside {
    &-subinfo {
      opacity: 0.8;
      font-size: 14px;
    }
  }

  &__rightside {
    .action__button {
      position: relative;
      &::after {
        position: absolute;
        content: attr(data-before-content);
        bottom: -100%;
        width: 100px;
        padding: 10px;
        opacity: 0;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }
}

.single-surah__lists {
  max-width: 800px;
  margin: 30px auto;
}

.surah__read {
  max-width: 800px;
  margin: 20px auto;
  text-align: right;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  &,
  * {
    background-color: var(--box-color);
  }

  p {
    font-size: 1.2rem;
    line-height: 38px;
  }

  &-btn {
    margin-top: 20px;
    button {
      color: var(--text-color);
      cursor: pointer;
      border-radius: 5px;
      padding: 10px 12px;
      box-shadow: var(--box-shadow);
      border: 1px solid var(--background-color);
    }
  }
}
