.surah__list {
  margin-top: 50px;
  &-header {
    margin-bottom: 20px;
  }
  &-page {
    padding-bottom: 10px;
    &-sort {
      padding: 5px 12px;
      margin-top: 15px;
      margin-left: 15px;
      color: var(--text-color);
      cursor: pointer;
      border: none;
      outline: none;
      border-radius: 8px;
      box-shadow: var(--secondary-box-shadow);
      background-color: var(--box-color);
    }

    .action_button {
      overflow: hidden;
      border-radius: 8px;
      display: inline-flex;
      box-shadow: var(--secondary-box-shadow);
    }
    &-btn {
      outline: none;
      border: none;
      padding: 5px 12px;
      cursor: pointer;
      font-size: 1rem;
      position: relative;
      background-color: var(--box-color);
      transition: 0.2s ease;
      color: var(--text-color);

      &:hover,
      &:focus,
      &.active {
        background-color: var(--dark-green);
        color: var(--off-white);
      }
    }
  }
  &-sorting {
    position: relative;
    margin-top: 10px;
    justify-content: flex-end;
    span {
      font-size: 14px;
      margin-right: 12px;
    }
  }
  &-drop {
    list-style-type: none;
    &-item {
      display: none;
      font-size: 14px;
      cursor: pointer;
      &.active {
        display: block;
      }
    }
  }

  &-surahs {
    flex-wrap: wrap;
    gap: 10px;
    .surahs-card {
      width: 30%;
    }
    @media screen and (max-width: 1050px) {
      .surahs-card {
        width: 40%;
        border-radius: 8px;
      }
    }

    @media screen and (max-width: 768px) {
      .surahs-card {
        width: 100%;
      }
    }
  }

  .juz__list-surahs {
    column-count: 3;
    &-item {
      display: inline-block;
      width: 100%;
      margin: 10px 0;
    }
    @media screen and (max-width: 1050px) {
      column-count: 2;
    }

    @media screen and (max-width: 768px) {
      column-count: 1;
    }
  }
}
