.surah__list {
  margin-top: 50px;
  &-header {
    margin-bottom: 20px;
  }
  &-page {
    border-bottom: 1px solid var(--text-color);

    &-btn {
      outline: none;
      border: none;
      padding: 5px 12px;
      cursor: pointer;
      color: var(--text-color);
      font-size: 1rem;
      background-color: transparent;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 0%;
        left: 0;
        bottom: 0;
        height: 1px;
        background-color: var(--icon-color);
      }

      &:hover::before,
      &:focus::before,
      &.active::before {
        width: 100%;
      }
      &:nth-child(even) {
        margin-left: 10px;
      }
    }
  }
  &-sorting {
    position: relative;
    margin-top: 10px;
    justify-content: flex-end;
    span {
      font-size: 14px;
      margin-right: 12px;
    }
  }
  &-drop {
    list-style-type: none;
    &-item {
      display: none;
      font-size: 14px;
      cursor: pointer;
      &.active {
        display: block;
      }
    }
  }

  &-surahs {
    flex-wrap: wrap;
    gap: 10px;
    .surahs-card {
      width: 30%;
    }
    @media screen and (max-width: 1050px) {
      .surahs-card {
        width: 40%;
        border-radius: 8px;
      }
    }

    @media screen and (max-width: 768px) {
      .surahs-card {
        width: 100%;
      }
    }
  }

  .juz__list-surahs {
    column-count: 3;
    &-item {
      display: inline-block;
      width: 100%;
      margin: 10px 0;
    }
    @media screen and (max-width: 1050px) {
      column-count: 2;
    }

    @media screen and (max-width: 768px) {
      column-count: 1;
    }
  }
}
